# Файли
*.docx
*.doc
*.pptx
*.ppt
*.pdf

# Директорії
db/                  
diagram/             
screenshots/         
source/     
пояснення/

# Ігноруємо залежності
RainDragon/node_modules/
ServerRD/node_modules/